@page
@model projet2.Pages.Foods.DeleteModel
@{
}
<div class="card m-5 m">
    <form method="post" class="form p-4">
        <div class="pb-3">  
            <label asp-for="food.Name"></label>
            <input type="text" asp-for ="food.Name"  class="form-control" disabled/>
            <input type="hidden" asp-for ="food.Id"/>
        </div>
     
        <button class="btn btn-primary" style="width:150px" type="submit"> Supprimer </button>
        <a asp-page="Index" style="width:150px" class="btn btn-secondary">Back to List</a>
    </form>
</div>